/nbproject/private/
/bin
/wiki
.gradle
.DS_Store
*.bat
*.conf
*.dll
*.dylib
*.jar
*.jpg
*.mhr
*.obj
*.ogg
*.sh
*.so
*.ttf
*.wav
*.zip
libffi-build/
libffi-3.8.0/
libffi-3.8.0.tar.gz
touch.txt
/build/
.xmake
